table.sorting tr:not(.home){
    cursor: pointer;
}
/*홈을 제외한 table.sorting 클래스의 tr에 마우스를 가져다대면 포인터로 바뀐다.*/

.ui-state-highlight {
    border: 1px dashed #c00;
    background-color : #CCC;
}
/*클릭 되었을때 환경을 설정한다.*/